{% extends 'base.html' %}

{% block title %}
About Us
{% endblock %}

{% block content %}

<section class="about-page">

    <div class="about-container">

        <div class="about-image">
            <img src="https://i.postimg.cc/mrjLK3jj/Whats-App-Image-2026-06-09-at-1-37-16-AM.jpg" alt="Rishi Raj Meena">
        </div>

        <div class="about-content">

            <span class="about-tag">
                🏏 Cricket Analyst & Influencer
            </span>

            <h1>Rishi Raj Meena</h1>

            <h3>RishiRaj Cricket Analyst</h3>

            <p>
                Welcome to www.rishirajmeena.com
                About Me

I’m Rishiraj Meena — a Civil Engineer, Cricket Analyst, Tournament Organizer, music producer and Travel Creator.

With over 10+ years of experience in cricket analysis and 13 years in match prediction, I specialize in studying player statistics, pitch conditions, ground reports, and historical records to deliver deep cricket insights and predictions.

In 2026, I organized MPL 2026 in Rajasthan, featuring 64 village teams, with complete live coverage streamed on YouTube.

Beyond cricket, traveling is a major part of my journey. I completed the sacred 12 Jyotirlinga Yatra in just 28 days and continue creating travel vlogs and digital content from different places and countries.

Passionate about cricket, travel, and storytelling — this platform reflects my journey, experience, and vision.

Instagram: @Rishirajofficial
YouTube : @Rishirajmeenaofficial
            </p>

            <div class="about-stats">

                <div class="stat-box">
                    <h2>10+</h2>
                    <p>Years Experience</p>
                </div>

                <div class="stat-box">
                    <h2>1000+</h2>
                    <p>Predictions</p>
                </div>

                <div class="stat-box">
                    <h2>24/7</h2>
                    <p>Analysis</p>
                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}