{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RishiRaj Cricket{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- Meta Pixel Code -->

<img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=YOUR_PIXEL_ID&ev=PageView&noscript=1"/>
</head>
<body>

    
   <!-- Navbar -->
<nav class="navbar">

    <div class="nav-container">

        <a href="/" class="logo">

    <img src="https://i.postimg.cc/mrjLK3jj/Whats-App-Image-2026-06-09-at-1-37-16-AM.jpg" alt="Logo" class="logo-img">

    <span>RishiRaj</span>

</a>

        <div class="desktop-nav">
            <a href="/">Home</a>
            <a href="{% url 'predictions' %}">Predictions</a>
            <a href="{% url 'news' %}">News</a>
            <a href="{% url 'teams' %}">Teams</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'contact' %}">Contact</a>
        </div>

        <button class="menu-btn" onclick="toggleMenu()">
            ☰
        </button>

    </div>

    <div class="mobile-menu" id="mobileMenu">

        <a href="/">Home</a>
        <a href="{% url 'predictions' %}">Predictions</a>
        <a href="{% url 'news' %}">News</a>
        <a href="{% url 'teams' %}">Teams</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'contact' %}">Contact</a>

        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}

    </div>

</nav>

    {% block content %}
    {% endblock %}

    
    <!-- Footer -->
    <footer>
        <p>© 2026 RishiRaj Cricket</p>
        <p>Match Predictions • Cricket News • Analysis</p>
    </footer>

    <div id="join-popup">
    <span class="tg-icon">📢</span>
    <span id="join-text"></span>
</div>


<a href="https://t.me/+SGzfN49u7CEyM2M0"
   target="_blank"
   class="telegram-float">

   📢 Join Telegram
</a>

<script>
function toggleMenu() {
    document.getElementById("mobileMenu").classList.toggle("show");
}
</script>
<script>
const slider = document.querySelector('.slider');

document.querySelector('.next').onclick = () => {
    slider.scrollBy({
        left:320,
        behavior:'smooth'
    });
};

document.querySelector('.prev').onclick = () => {
    slider.scrollBy({
        left:-320,
        behavior:'smooth'
    });
};
</script>

<script>

const slides =
document.querySelectorAll(".coverflow-track img");

let current = 0;

function updateSlider(){

slides.forEach((slide,index)=>{

let offset = index-current;

if(offset===0){

slide.style.transform=
"translate(-50%,-50%) scale(1.15)";
slide.style.zIndex="10";
slide.style.opacity="1";

}

else if(offset===-1 || offset===18){

slide.style.transform=
"translate(-180%,-50%) scale(.85)";
slide.style.zIndex="5";
slide.style.opacity=".7";

}

else if(offset===1 || offset===-18){

slide.style.transform=
"translate(80%,-50%) scale(.85)";
slide.style.zIndex="5";
slide.style.opacity=".7";

}

else{

slide.style.transform=
"translate(-50%,-50%) scale(.6)";
slide.style.opacity="0";

}

});

}

updateSlider();

setInterval(()=>{

current++;

if(current>=slides.length){
current=0;
}

updateSlider();

},2500);

</script>


<script>

const names = [

"Vinod",
"Rahul",
"Aman",
"Rohit",
"Akash",
"Vikas",
"Ankit",
"Rakesh",
"Sumit",
"Deepak",

"Ajay",
"Mohit",
"Nitin",
"Manish",
"Arjun",
"Sachin",
"Yash",
"Harsh",
"Tarun",
"Piyush",

"Karan",
"Shivam",
"Abhishek",
"Vivek",
"Gaurav",
"Lokesh",
"Raj",
"Sandeep",
"Mukesh",
"Pradeep"

];

const popup =
document.getElementById("join-popup");

const text =
document.getElementById("join-text");

function showPopup(){

const randomName =
names[Math.floor(Math.random()*names.length)];

text.innerHTML =
`<strong>${randomName}</strong> joined Telegram`;

popup.classList.add("show");

setTimeout(()=>{
popup.classList.remove("show");
},4000);

}

showPopup();

setInterval(showPopup,7000);

</script>

</body>
</html>