{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RishiRaj Cricket{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>

    
   <!-- Navbar -->
<nav class="navbar">

    <div class="nav-container">

        <a href="/" class="logo">

    <img src="https://i.postimg.cc/mrjLK3jj/Whats-App-Image-2026-06-09-at-1-37-16-AM.jpg" alt="Logo" class="logo-img">

    <span>RishiRaj</span>

</a>

        <div class="desktop-nav">
            <a href="/">Home</a>
            <a href="{% url 'predictions' %}">Predictions</a>
            <a href="{% url 'news' %}">News</a>
            <a href="{% url 'teams' %}">Teams</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'contact' %}">Contact</a>
        </div>

        <button class="menu-btn" onclick="toggleMenu()">
            ☰
        </button>

    </div>

    <div class="mobile-menu" id="mobileMenu">

        <a href="/">Home</a>
        <a href="{% url 'predictions' %}">Predictions</a>
        <a href="{% url 'news' %}">News</a>
        <a href="{% url 'teams' %}">Teams</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'contact' %}">Contact</a>

        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'signup' %}">Sign Up</a>
        {% endif %}

    </div>

</nav>

    {% block content %}
    {% endblock %}

    
    <!-- Footer -->
    <footer>
        <p>© 2026 RishiRaj Cricket</p>
        <p>Match Predictions • Cricket News • Analysis</p>
    </footer>

<a href="https://t.me/+SGzfN49u7CEyM2M0"
   target="_blank"
   class="telegram-float">

   📢 Join Telegram
</a>

<script>
function toggleMenu() {
    document.getElementById("mobileMenu").classList.toggle("show");
}
</script>

</body>
</html>