{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="hero">

    <div class="hero-content">

        <h1>🏏 Cricket Predictions & Latest Updates</h1>

        <p>
            Match Predictions • Cricket News • Team Analysis • Tournament Coverage
        </p>
        <a href="https://t.me/+SGzfN49u7CEyM2M0"
   class="telegram-btn"
   target="_blank">
   🚀 Join Telegram
</a>

    </div>

</section>

<section class="today-match">

    <h2>🔥 Today's Featured Match</h2>
    
    {% for match in today_matches %}

<div class="match-card">

    <div class="team">
        <img src="{{ match.logo1.url }}" alt="">
        <h3>{{ match.team1 }}</h3>
    </div>

    <div class="vs-circle">
        VS
    </div>

    <div class="team">
        <img src="{{ match.logo2.url }}" alt="">
        <h3>{{ match.team2 }}</h3>
    </div>

</div>
<a href="{% url 'vote' match.id %}"
   class="predict-btn">
   Vote Prediction
</a>
<div class="prediction-box">
    <h3>🏆 Prediction</h3>
    <p>{{ match.prediction }}</p>
</div>

<div class="prediction-details-card">

    <h3>📊 Prediction Confidence</h3>

    <div class="team-row">
        <span>{{ match.team1 }}</span>
        <span>{{ match.confidence_team1 }}%</span>
    </div>

    <div class="progress">
        <div class="progress-fill"
             style="width: {{ match.confidence_team1 }}%">
        </div>
    </div>

    <div class="team-row">
        <span>{{ match.team2 }}</span>
        <span>{{ match.confidence_team2 }}%</span>
    </div>

    <div class="progress">
        <div class="progress-fill"
             style="width: {{ match.confidence_team2 }}%">
        </div>
    </div>

    <h3>📝 Why This Prediction?</h3>

    <div class="reason">
        ✓ {{ match.reason1 }}
    </div>

    <div class="reason">
        ✓ {{ match.reason2 }}
    </div>

    <div class="reason">
        ✓ {{ match.reason3 }}
    </div>

</div>


<p>{{match.prediction_lock_time}}</p>
<div class="countdown-card">
    <h3>⏳ Prediction Lock Timer</h3>

    <div class="timer-boxes">
        <div class="time-box">
            <span class="hours">00</span>
            <small>Hours</small>
        </div>

        <div class="time-box">
            <span class="minutes">00</span>
            <small>Minutes</small>
        </div>

        <div class="time-box">
            <span class="seconds">00</span>
            <small>Seconds</small>
        </div>
    </div>
</div>

<script>
const lockTime = new Date(
"{{ match.prediction_lock_time|date:'c' }}"
).getTime();

console.log("LOCK:", lockTime);
console.log("NOW:", new Date().getTime());

setInterval(function () {

    const now = new Date().getTime();
    const distance = lockTime - now;

    if(distance < 0){
        document.querySelector(".countdown-card").innerHTML =
        "<h3>🔒 Prediction Locked</h3>";
        return;
    }

    const hours = Math.floor(distance / (1000 * 60 * 60));

    const minutes = Math.floor(
        (distance % (1000 * 60 * 60))
        / (1000 * 60)
    );

    const seconds = Math.floor(
        (distance % (1000 * 60))
        / 1000
    );

    document.querySelector(".hours").innerText =
String(hours).padStart(2,'0');

document.querySelector(".minutes").innerText =
String(minutes).padStart(2,'0');

document.querySelector(".seconds").innerText =
String(seconds).padStart(2,'0');

},1000);
</script>

<br>

{% endfor %}
    
</section>

</section>


<section class="upcoming-section">

    <h2>🔒 Upcoming Matches</h2>

    <div class="upcoming-grid">

        {% for match in upcoming_matches %}

        <div class="upcoming-card">

            <img src="{{ match.logo1.url }}">
            <span>VS</span>
            <img src="{{ match.logo2.url }}">

            <h3>{{ match.team1 }} vs {{ match.team2 }}</h3>

            {% if match.prediction_locked %}
    <div class="locked-box">
        🔒 Prediction Locked
    </div>
{% else %}
    <button class="predict-btn">
        View Prediction
    </button>
{% endif %}

        </div>

        {% endfor %}

    </div>

</section>


<section class="teams-section">

    <h2>🏏 Top Cricket Teams</h2>

    <p class="teams-subtitle">
        ICC Ranked International Teams
    </p>

    <div class="teams-marquee">

        <div class="teams-track">

            <!-- FIRST SET -->

            <img src="{% static 'teams/team1.jpg' %}" alt="India">
<img src="{% static 'teams/team2.png' %}" alt="Australia">
<img src="{% static 'teams/team3.png' %}" alt="England">
<img src="{% static 'teams/team4.png' %}" alt="South Africa">
<img src="{% static 'teams/team5.png' %}" alt="New Zealand">
<img src="{% static 'teams/team6.png' %}" alt="Pakistan">
<img src="{% static 'teams/team7.png' %}" alt="Sri Lanka">
<img src="{% static 'teams/team8.png' %}" alt="Bangladesh">
<img src="{% static 'teams/team9.png' %}" alt="Afghanistan">
<img src="{% static 'teams/team10.png' %}" alt="West Indies">
<img src="{% static 'teams/team11.png' %}" alt="Ireland">
<img src="{% static 'teams/team12.png' %}" alt="Zimbabwe">

            <!-- DUPLICATE SET FOR INFINITE LOOP -->

            <img src="{% static 'teams/team1.jpg' %}" alt="India">
<img src="{% static 'teams/team2.png' %}" alt="Australia">
<img src="{% static 'teams/team3.png' %}" alt="England">
<img src="{% static 'teams/team4.png' %}" alt="South Africa">
<img src="{% static 'teams/team5.png' %}" alt="New Zealand">
<img src="{% static 'teams/team6.png' %}" alt="Pakistan">
<img src="{% static 'teams/team7.png' %}" alt="Sri Lanka">
<img src="{% static 'teams/team8.png' %}" alt="Bangladesh">
<img src="{% static 'teams/team9.png' %}" alt="Afghanistan">
<img src="{% static 'teams/team10.png' %}" alt="West Indies">
<img src="{% static 'teams/team11.png' %}" alt="Ireland">
<img src="{% static 'teams/team12.png' %}" alt="Zimbabwe">

        </div>

    </div>

</section>

<section class="videos-section">

    <h2>🎥 Featured Cricket Videos</h2>

    <div class="slider-container">

        <button class="prev">&#10094;</button>

        <div class="slider">

            <a href="https://youtu.be/EjsO3QEjWmg?si=ZECMDtqzUBU2tdiV" target="_blank" class="slide">
                <img src="/media/videos/video1.png">
            </a>

            <a href="https://youtu.be/zrbVkPZ5YZQ?si=XfCC-mrcRU_J_tDF" target="_blank" class="slide">
                <img src="/media/videos/video2.png">
            </a>

            <a href="https://youtu.be/YqgxbD4mCnc?si=5UKNZKjPyggSgqwX" target="_blank" class="slide">
                <img src="/media/videos/video3.png">
            </a>

            <a href="https://youtu.be/pDauPtrbFEQ?si=6Wdjdt7OZ_4yOisM" target="_blank" class="slide">
                <img src="/media/videos/video4.png">
            </a>

            <a href="https://youtu.be/pDauPtrbFEQ?si=6Wdjdt7OZ_4yOisM" target="_blank" class="slide">
                <img src="/media/videos/video5.png">
            </a>

            <a href="https://youtu.be/ztum5ngoZa8?si=nBrqNr1TIIxaS8Qp" target="_blank" class="slide">
                <img src="/media/videos/video6.png">
            </a>

            <a href="https://youtu.be/upwpwJOFS4I?si=qATunz9rUfx7yCI_" target="_blank" class="slide">
                <img src="/media/videos/video7.png">
            </a>

            <a href="5) https://youtu.be/lUAhg8zDxaw?si=VZVfdg1mN6p_QeEt" target="_blank" class="slide">
                <img src="/media/videos/video8.png">
            </a>

            <a href="https://youtu.be/XHq4DPfkwU4?si=HQMjJcbUSv96WPyB" target="_blank" class="slide">
                <img src="/media/videos/video9.png">
            </a>

            <a href="https://youtu.be/KZm1gFEYa5A?si=bs7fA_ffKNv_ABHO" target="_blank" class="slide">
                <img src="/media/videos/video10.png">
            </a>

            <a href="https://youtu.be/lLqAwUiYtX0?si=raySiEMLidt1TASb" target="_blank" class="slide">
                <img src="/media/videos/video11.png">
            </a>

            <a href="https://youtu.be/8wpq-xbydqM?si=loYq5G0s3P6nwHNW" target="_blank" class="slide">
                <img src="/media/videos/video12.png">
            </a>

        </div>

        <button class="next">&#10095;</button>

    </div>

</section>

<section class="stats-section">

    <h2>📊 Prediction Statistics</h2>

    <div class="stats-grid">

        <div class="stat-card">
            <h3>5000</h3>
            <p>Total Predictions</p>
        </div>

        <div class="stat-card">
            <h3>4810</h3>
            <p>Correct</p>
        </div>

        <div class="stat-card">
            <h3>190</h3>
            <p>Wrong</p>
        </div>

        <div class="stat-card">
            <h3>96.2%</h3>
            <p>Accuracy</p>
        </div>

    </div>

</section>
</section>


<section class="history-section">

    <h2>📊 Prediction History</h2>

    <div class="table-wrapper">

        <table class="history-table">

            <tr>
                <th>Match</th>
                <th>Prediction</th>
                <th>Result</th>
                <th>Status</th>
            </tr>

            <tr>
                <td>5000+</td>
                <td>4810 Correct Predictions</td>
                <td>96.2% Accuracy</td>
                <td class="status-win">🏆 Premium Accuracy</td>
            </tr>

        </table>

    </div>

    <h3 class="overall-accuracy">
        🎯 Overall Accuracy: 96.2%
    </h3>

</section>


{% endblock %}