{% extends 'base.html' %}

{% block content %}

<div class="auth-container">

    <div class="auth-card">

        <h1>🏏 Join RishiRaj Cricket</h1>

        <p>Create your prediction account</p>

        {% if error %}
        <div class="error-box">
            {{ error }}
        </div>
        {% endif %}

        <form method="POST">

            {% csrf_token %}

            <input
                type="text"
                name="username"
                placeholder="Username"
                required>

            <input
                type="email"
                name="email"
                placeholder="Email Address"
                required>

            <input
                type="password"
                name="password"
                placeholder="Password"
                required>

            <button type="submit">
                Create Account 🚀
            </button>

        </form>

        <div class="auth-link">
            Already have an account?
            <a href="{% url 'login' %}">
                Login
            </a>
        </div>

    </div>

</div>

{% endblock %}